* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  text-align: center;
}

div {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

button {
  display: flex;
  height: 50px;
  width: 100px;
  background-color: transparent;
  border: 1px solid;
  align-items: center;
  cursor: pointer;
}